.login-page-container{
    background-image: url('/background.jpg');
    padding:50px;
}

.login-page-container h2,.signup-page-container h2{
    color:darkviolet;
    font-weight: bold;
    margin:10px;
    padding: 20px;
    float:left;
}
.signup-page-container{
    background-image: url('/background.jpg');
    padding:50px;
}

.signup-page-container label{
    color:white;
}

td i{
    margin:3px;
}

.add-btn{
    background-color: aquamarine;
    margin-left:20px;   
}
.add-btn i{
    padding-right:10px;
}

h4{
    color:purple;
}

.card-img-top{
   background-image: url("/image/reportHeader.jpg");
   height:100px;
}

.card-img-top h5{
    text-align: center;
    /* padding-top:20px; */
    color:darkorange;
    font-weight:bold;
}

.card-img-top span{
    text-align: right;
    color:darkslateblue;
    font-weight:bold;
}

.studentImg {
    height:65px;
    width:80px;
    float: left;
    margin-left:15px;
}