.errorBox {
    color: #cc0000;
    font-size: 0.8rem;
    font-weight: 400;
    margin:0;
    text-align:center;
  }

  .infoBox {
    color:blue;
    font-size: 0.8rem;
    font-weight: 400;
    margin:0;
    text-align:center;
  }

  .loginForm-containter{

    margin-top:50px;
  }

  .card-footer{
    color:white;
  }

  .card-footer span{
    margin-right:10px;
  }

  .circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}

.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(59, 182, 231, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}
.green {
    background-color: #16A085;
}
.dark-green {
    background-color: darkgreen;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}

.purple {
    background-color: #8E44AD;
}


.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  /*activitylist*/
  .backevent {
    background-color: #3A3C45;
    border-radius: 12px;
}

.activityDetail {
   background-color: #3A3C45;
   border-radius: 12px;
   position: absolute;
   margin-left: -48px;
   margin-top: 45px;
}

.activityDetail i{
   color:white;
   float: right;
}
.activityDesc{
    color:lightgoldenrodyellow;
    text-align: left;
 }

h5{
    color:#E2B104;
    text-align: left;
}



.activity-feed .feed-item {
  position: relative;
  padding-bottom: 150px;
  padding-left: 30px;
  border-left: 2px solid #E2B104;
}

.activity-feed .feed-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    background: #fff;
    border: 1px solid #E2B104;
}

.img-right{
    background-image: url("/image/love.jpg");
    height:333px;
}